<p id="who">
  <strong>Who:</strong>
  The course is aimed at both undergraduate and graduate students, as well as faculty/researchers. 
  The skills we teach are transferable to all disciplines and are not meant for just the sciences! 
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop. We do expect that 
    you will attend all four sessions on both days!
  </strong>
  <br />
  <br />
  <strong>Preference will be given to members
  of the Rutgers-Camden community</strong>, but subject to capacity constraints, we welcome  
  outside participants as well. Lunch and coffee/tea will be provided on both days. 
</p>
